<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="top.cokernut.webview" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".WebActivity"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".GameActivity"
            android:theme="@style/AppTheme.NoActionBar.Fullscreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
    </application>
</manifest>